/* Import lato font from Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

// SASS imports
@import "abstract/variables";
@import "abstract/functions";
@import "abstract/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";

@import "pages/home";
