// Select all the clases that have "col-" in the middle
// [class*="col-"] {
//   &:not(:last-child) {

//   }
// }

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond-to(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }

  }

  @include clearfix;

  @include respond-to(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  // Select all classes that start with "col-"
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond-to(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond-to(tab-port) {
      width: 100% !important;
      // &:not(:last-child) {
      //   margin-right: 0;
      //   margin-bottom: $gutter-vertical;
      // }
    }
  }

  .col-1-of-2 {
    width: col-size(2, 1);
  }

  .col-1-of-3 {
    width: col-size(3, 1);
  }

  .col-1-of-4 {
    width: col-size(4, 1);
  }

  .col-2-of-3 {
    width: col-size(3, 2);
  }

  .col-2-of-4 {
    width: col-size(4, 2);
  }
}
