@function col-size($totalColumns, $columnSpan) {
  @if $columnSpan > 1 {
    @return calc(
      (
          (100% - #{($totalColumns - 1) * $gutter-horizontal}) * #{$columnSpan} /
            #{$totalColumns}
        ) + #{$gutter-horizontal}
    );
  } @else {
    @return calc(
      ((100% - #{($totalColumns - 1) * $gutter-horizontal}) * #{$columnSpan}) /
        #{$totalColumns}
    );
  }
}
